.about-container {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 4rem;
    /* justify-content: center; */
    align-items: center;
    background-image: linear-gradient(var(--mainBlue), var(--linkBlue));
    margin-bottom: 4rem;
    padding: 3% 15%;
}

.about-container .about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .5;
}

.about-container .about-image img{
    /* background-color: antiquewhite; */
    width: 350px;
    height: auto;
}

.about-text {
    flex: .5;
}

.about-text p {
    color: var(--bgWhite);
}

.about-text .about-name {
    margin-top: 0;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.about-text .about-title{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--bluishWhite);
}

.full-stack-icon {
    width: 3.5rem;
}

.office-icon {
    width: 0.8rem;
}

.home-icon {
    width: 0.86rem;
}