.main-btn {
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--mainBlue);
    padding: 0 15%;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: var(--bgWhite);
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.1s linear 0.1s;
}

.main-btn:hover {
    cursor: pointer;
    background-image: linear-gradient(var(--mainBlue), var(--lightBlue));
}

.outlined-btn {
    height: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px var(--mainBlue) solid;
    border-radius: 0.25rem;
    padding: 0 15%;
    color: var(--mainBlue);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    background-image: none;
    transition: 0.1s linear 0.1s;
}

.outlined-btn:hover {
    cursor: pointer;
    background-image: linear-gradient(var(--mainBlue), var(--lightBlue));
    color: var(--bgWhite);
    border: 1px var(--mainBlue) solid;
}