/* .button {
    width: 128px;
    height: 36px;
    background-color: var(--mainBlue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.label {
    display: none;
    opacity: 0;
    transition: all 1s cubic-bezier(0.65, 0, 0.076, 1);
    color:var(--bgWhite);
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: all 1s cubic-bezier(0.65, 0, 0.076, 1);
    color: var(--bgWhite);
}

.button:hover{
    .icon{
        display: none;
    }
    .label{
        opacity: 1;
        display: inline;
    }
} */

.button {
    display: inline-flex;
    height: 2rem;
    width: 8rem;
    border: 1px solid var(--mainBlue);
    margin: 1rem 0;
    color: var(--mainBlue);
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: .1rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  a {
    width: fill;
    height: fill;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  p {
    color: var(--mainBlue);
    text-decoration: none;
    letter-spacing: .1rem;
  }
  
  /* Seventh Button */
  
  #button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button p {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
  }
  
  #icon {
    width: 100%;
    height: 100%;
    background: var(--mainBlue);
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #button img {
    width: 20px;
    height: auto;
  }
  
  #button:hover #icon {
    left: 0;
  }
  
  #button:hover p {
    left: 150px;
  }