.card { 
    flex-grow: 1;
    background-color: var(--cardBg);
    border-radius: 1.5rem;
}

.card-img {
    height: 21rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.card-img img {
    border-radius: 1.5rem;
    width: 65%;
    max-width: 416px;
    height: auto;
}

.card-title {
    padding: 0 1rem;
}

.card .card-title h4 {
    display: flex;
    margin: 1rem 0 0.5rem 0;
    flex-grow: 1;
    justify-content: space-between;
    color: var(--black);
}

.card .card-title h4 span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--lightBlue);
    font-size: 0.86rem;
    font-weight: lighter;
}

.card .card-title h4 span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.card .card-title p {
    color: var(--black);
    margin-bottom: 1rem;
}

.read-more-svg {
    width: 1rem;
    height: auto;
}