.card { 
    flex-grow: 1;
    /* background: lime; */
    /* border: 1px red solid; */
}

.card-img {
    height: 344px;
    background-color: blue;
}

h4 {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

h4 span {
    display: flex;
    align-items: center;
    gap: 8px;
}

.read-more-svg {
    width: 16px;
}