.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 10%; 
}

.contact-item-container{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 0 2rem 0;
}

.contact-item-container p {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-grow: 1;
    margin: 0;
    color: var(--linkBlue);
}

.contact-item-container .resume {
    justify-content: flex-end;
}

.contact-item-container .phone-number {
    justify-content: flex-start;
}

.contact-svg {
    width: 1.5rem;
    height: auto;
}

.social-icon-container {
    display: flex;
    gap: 1.2rem;
}