.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 10%; 
}

.contact-item-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

.contact-item-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 33%;
    color: var(--linkBlue);
}

.contact-item-container p, .contact-container p a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    color: var(--linkBlue);
}

.contact-item-container p:hover{
    text-decoration: 1px red wavy;
    color: var(--black);
    font-weight: 700;
    cursor: pointer;
}

.contact-item-container p a, .contact-item-container p a:hover{
    text-decoration: none;
}

.contact-item-container .resume {
    justify-content: flex-end;
}

.contact-item-container .phone-number {
    justify-content: flex-start;
}

.contact-svg {
    width: 1.5rem;
    height: auto;
}

.social-icon-container {
    display: flex;
    gap: 1.2rem;
}

.social-icon-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: auto;
}

.social-icon-container a:hover .social-contact-svg {
    width: 1.4rem;
    height: auto;
}