.other-project-card {
    flex-grow: 1;
}

.other-project-thumbnail {
    height: 128px;
    background-color: aquamarine;
    margin-bottom: 1rem;
}

.other-project-title {
    color: var(--black);
}