.technology-container {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    gap: 1.5rem;
    padding: 0 10%; 
}

.technology-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.technology-svg {
    height: 2rem;
    width: auto;
}