.header-container {
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    z-index: 1100;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.nav-link .link {
    text-decoration: none;
}

.nav-link .link:hover {
    font-weight: bolder;
}

h3:hover {
    cursor: pointer;
}