.header-container {
    /* background: blue; */
    width: fill;
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
    position: fixed;
    top: 0;
    background-color: aliceblue;
    z-index: 1100;
    transition-timing-function: ease-in;
    transition: .3s;
    border-bottom:  1px solid var(--black);
}

.nav-link {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.nav-link .link {
    text-decoration: none;
}

.nav-link .link:hover {
    font-weight: bolder;
}

h3:hover {
    cursor: pointer;
}