.header-container {
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    z-index: 1100;
}

.nav-link {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.nav-link .link {
    text-decoration: none;
}