.hero {
    /* background: red; */
    height: 80vh;
    display: flex;
    z-index: 0;
    padding: 0 10%; 
}

.hero-text {
    display: flex;
    flex: .6;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.btn-holder {
    display: flex;
    flex-direction: row;
}

.hero-img-container {
    display: flex;
    width: 100%;
    flex: .4;
    align-items: flex-start;
    padding-top: 3%;
    position: relative;
}

.svg-container {
    overflow: auto;
   }
   
svg {
    width: 95%;
    height: 95%;
   }

.hero-img {
    position: absolute;
    width: 100%;
    height: auto;
}
