.experience-card {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--cardBg);
    padding: 1rem;
    color: var(--black);
}

.experience-card .experience-text p.experience-title {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.experience-card .experience-text p {
    font-size: 0.88rem;
}

.experience-icon {
    width: auto;
}