@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --bgWhite: #FCFEFF;
  --black: #003F63;
  --lightBlue: #7EB9DB;
  --bluishWhite: #C7DAE3;
  --cardBg: #EEF7FB;
  --linkBlue: #0075B7;
  --mainBlue: #0F5E8B;
}

body{
  font-family: 'Poppins', cursive;
  margin: 0;
  background-color: var(--bgWhite);
}

p {
  margin: 0.5rem 0;
}

h1 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  color: var(--black);
}