.error-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    /* background-color: rebeccapurple; */
    justify-content: center;
    align-items: center;
}

.go-to-homepage-button {
    border: 1px var(--mainBlue) solid;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.1s linear 0.1s;
}

.go-to-homepage-button:hover {
    cursor: pointer;
    font-weight: bolder;
    padding: 0.5rem 2.2rem;
}